<div class="container text-center">
	<div class="alert alert-info" role="alert">
		<h4> We suggest to <span class="label label-info"><%= @stock_suggestion.suggestion %></span> on <%= @stock.date.to_date %>. </h4>
	</div>
</div>
